@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffff;
  --primary-color: #2dd4bf;
  --primary-gray: #a1a1aa;
  --secondary-gray: #e4e4e7;
  --primary-bg-color: #211f23;
  --secondary-bg-color: #18181b;
}
